doctype html5
html
    include ./includes/head.jade
    link(href='/css/events.css', rel='stylesheet')
    body
        .events
        include ./includes/scripts.jade
    include ./includes/status_messages.jade
    script(src='js/events.js')