doctype html5
html
  include ./includes/head.jade
  body
    h2#room-name Room: 
      !=room 
    h3 Players
    #waiting
      | Total: 
      != total_players
    #connected
      | Connected: 
      span(id="connected-players") 0
    #connected
      | Ready: 
      span(id="ready-players") 0  

    players
    #gametable
      ul#players
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/host.js')