doctype html5
html
  include ./includes/head.jade
  link(href='/css/host.css', rel='stylesheet')
  body
    .content
      ul#players.players
      .box.card(data-anim="none" data-face="none" data-pos="discard")
    .debug
      button.debug-button.start-game Start Game
      button.debug-button.send-state Send State
      button.debug-button.send-players Player List
      button.debug-button.show-played-card Played Card
    
    include ./includes/status_messages.jade
  include ./includes/scripts.jade
  script(src='js/host.js')