doctype html5
html
  include ./includes/head.pug
  link(href='/css/host.css', rel='stylesheet')
  link(href='/css/message_banner.css', rel='stylesheet')
  body
    .content
      ul#players.players
      .cards
        .box.card(data-anim="none" data-face="none" data-pos="none")
      .banner-box
        .banners(data-anim="none")
          .banner Waiting to start.
      .card-count
          .cards-left Deck 09
    .debug
      button.debug-button.start-game Start Game
      //- button.debug-button.send-state Send State
      //- button.debug-button.send-players Player List
  include ./includes/scripts.pug
  script(src='js/host.js')