doctype html5
html
  include ./includes/head.jade
  body
    #room-name Room: 
      !=room 
    ul#player-states
      li#total Total: 
          = game_state.total_players
      li#connected Connected: 
        span(id="connected-players") 0
      li#ready Ready: 
        span(id="ready-players") 0
      li#inGame In Game:
         = game_state.in_game
    #game-table

    #send-state 
      button Send State

    #send-player-list 
      button(onMouseUp='send_players()') Send Player List

    #start-game
      button(onMouseUp='start_game()') Start Game

    ul#players
    include ./includes/debug.jade
  include ./includes/scripts.jade
  script(src='js/host.js')