doctype html5
html
  include ./includes/head.jade
  body
    #room-name Room: 
      !=room 
    ul#player-states
      li#total Total: 
        span(id="total-players")
          != total_players
      li#connected Connected: 
        span(id="connected-players") 0
      li#ready Ready: 
        span(id="ready-players") 0
      li#inGame In Game: 
        span(id="in-game")
          = game_state["in-game"]
    #game-table

    #send-state 
      button(onMouseUp='send_state()') Send State

    #send-player-list 
      button(onMouseUp='send_players()') Send Player List

    #start-game
      button(onMouseUp='start_game()') Start Game

    ul#players
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/host.js')