doctype html5
html
  include ./includes/head.jade
  body
    #room-name Room: 
      !=room 
    ul#player-states
      li#total Total: 
        != total_players
      li#connected Connected: 
        span(id="connected-players") 0
      li#ready Ready: 
        span(id="ready-players") 0  

    players
    #gametable
      ul#players
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/host.js')