doctype html5
html
  include ./includes/head.jade
  body
    h1#room-name!=room
    p#host-status Waiting for Server
    p#server-status Unknown
    #gametable
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/host.js')