doctype html5
html
  include ./includes/head.jade
  body
    #player-name Bob
    form#set-player-name
      h1 Your Name?
      input#p(autocomplete='off', autofocus)
      button Set
    #player-ready
      button Ready
    #cards
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/player.js')

