doctype html5
html
  include ./includes/head.jade
  body
    #player-name
    form#set-player-name
      h1 Your Name?
      input#p(autocomplete='off', autofocus)
      button Set
    #player-ready
      button(onMouseUp='set_ready()') Ready
    #game-area
      h1 THIS IS THE GAME AREA
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/player.js')

