doctype html5
html
  include ./includes/head.jade
  body
    #playername Bob
    form#set-playername
      h1 Your Name?
      input#p(autocomplete='off')
      button Set
    #playerready
      button Ready
    #cards
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/player.js')

