doctype html5
html
  include ./includes/head.jade
  link(href='/css/player.css', rel='stylesheet')
  body
    #player-name.player-name Not Set
    .player-info Player Info
    .frameT
      .frameTC
        .content
          form.ask-player-name
            h1 Your Name?
            input(type='text', autocomplete='off', autofocus)
            button Set

          .container
            .cards
          .banners(data-anim="none")
            .banner Waiting to start.
    include ./includes/status_messages.jade
    .debug
      button.debug-button(onMouseUp='draw_card()') Draw Card
      button.debug-button(onMouseUp='play_card()') Play Card 
      button.debug-button(onMouseUp='clear_settings()') Clear Settings
      button.debug-button(onMouseUp='clear_uid()') Clear UID
      button.debug-button.show_banner show_banner
      button.debug-button.hide_banner hide_banner
      button.debug-button.flash_banner flash_banner
      button.debug-button(onMouseUp='toggle_ask()') toggle_ask
      button.debug-button(onMouseUp='flip_cards()') flip_cards
    
  include ./includes/scripts.jade
  script(src='js/player.js')

