doctype html5
html
  include ./includes/head.jade
  body
    #topbar
      form#playername
        input#p(autocomplete='off')
        button Set
    #cards
    #statusbar
      ul#messages
  include ./includes/scripts.jade
  script(src='js/player.js')

