/* app */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {  
    font-family: 'Josefin Slab', serif;
    font-size: 48px; 
    font-style: italic;
}

#messages { 
  background: #ccc; padding: 3px; 
  position: fixed; bottom: 0; width: 100%; 
  height: 101px; 
  overflow: scroll; text-align: bottom;
  font-size: 17px;
  font-style: normal; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }   

/* Host */
#players { position: fixed; bottom: 121; width: 100%; }
#players { list-style-type: none; margin: 0; padding: 0; }

#players li { float:left; display:block; min-width:150px; }
#players li { margin-left: 20px; padding: 10px 20px;}
#players li { font-style: normal; text-align: center; }
#players li { background: #ddd;}

/* player */
#player-name { display: none; }

#set-player-name {   
    position: relative;
    top: 30%;
    text-align: center;
    transform: translateY(-30%);
    font-size: 24px;
}
#set-player-name input { 
    border: 1px solid black; 
    padding: 10px; 
    line-height: auto;
    margin: auto;
    display: block;
    text-align: center;
    width: 80%;
    font-size: 32px; }

#set-player-name button {
    font-size: 32px;
    background: rgb(210,211,211);
    border: none; 
    margin: 10px auto;
    height: auto;
    display: block;
    width: 80%;
    padding: 10px; }

#player-ready {
    position: relative;
    top: 30%;
    text-align: center;
    transform: translateY(-30%);
    display: none;
 }

#player-ready button { 
    font-family: 'Josefin Slab', serif;
    font-size: 72px;
    width: 80%; 
    height: 144px;
    background: rgb(210,211,211);
    border: none; 
    margin: auto;
}

#events { 
    font-family: 'Ubuntu Mono';
    font-size: 48px; 
    font-style: italic;
    padding: 3px; 
    width: 100%; 
    font-size: 17px;
    font-style: normal; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
}
#events li { padding: 5px 10px; }
#events li:nth-child(odd) { background: #eee; } 
