body {  
    font-family: 'Josefin Slab', serif;
    font-size: 48px; 
    font-style: italic;
    margin: 0; padding: 0; 
    /*box-sizing: border-box;*/
}  

#game-area { 
  position: fixed;
  top: 60px;
  width: 100%;
}

#hand {
  width: 98%;
  text-align: center;
  margin: 0 auto;
}

#cards {
  margin: 0 auto;
  display: none;
}

#cards ul { 
  list-style: none;
  list-style-type:none;
  white-space:nowrap;
  overflow-x:auto;

}
#cards ul li {
  display:inline;
  margin: 8px;
}

#cards img {
    max-width: 60vw;
    max-height: 80vh;
}


/* player */

#player-name { 
  position: fixed;
  top: 0px;
  width: 100%;
  background: white; }

#set-player-name {   
    position: relative;
    top: 30%;
    text-align: center;
    transform: translateY(-30%);
    font-size: 24px;
    display:;
}
#set-player-name input { 
    border: 1px solid black; 
    padding: 10px; 
    line-height: auto;
    margin: auto;
    display: block;
    text-align: center;
    width: 80%;
    font-size: 32px; }

#set-player-name button {
    font-size: 32px;
    background: rgb(210,211,211);
    border: none; 
    margin: 10px auto;
    height: auto;
    display: block;
    width: 80%;
    padding: 10px; }

#player-ready {
    position: relative;
    top: 30%;
    text-align: center;
    transform: translateY(-30%);
    display: none;
 }


#player-ready button { 
    font-family: 'Josefin Slab', serif;
    src: url("fonts/Josefin_Slab.woff") format('woff');
    font-size: 72px;
    width: 80%; 
    height: 144px;
    background: rgb(210,211,211);
    border: none; 
    margin: auto;
}



#events, #messages { 
    font-family: 'Ubuntu Mono';
    src: url("fonts/Ubuntu_Mono.woff") format('woff');
    font-style: italic;
    padding: 3px; 
    width: 100%; 
    font-size: 10pt;
    font-style: normal; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
}
#events li { padding: 5px 10px; }
#events li:nth-child(odd) { background: #eee; } 

.disable-actions {
    pointer-events: none;
}


ul#player-debug,
ul#host-debug {
  position: absolute;
  bottom: 160px;
  padding: 0;
}

ul#host-debug li,
ul#player-debug li {
  display: inline;
  margin:10px;
}


#player-debug button,
#host-debug button {
    font-size: 16px;
    background: rgb(210,211,211);
    border: none; 
    height: auto;
    width: 200px;
    padding: 10px;
}