/* host.css */

/*csslint empty-rules: false, important: false, size: false*/
body {
	font-family: 'Josefin Slab', serif;
	margin: 0;
	padding: 0;
	background-color: #376568;
	perspective: 500px;
	background-image: url('/img/table.png');
}
.box {
	width: 40vw;
	height: 90vh;
	position: absolute;
	top: 10vh;
	left: 10vw;
	border-radius: 5px;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	animation-duration: .75s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

.cards {
	width: 40vw;
	height: 80vh;
	position: absolute;
    top: -0vh;
    left: 55vw;
	z-index: -1;
}
.card {
	margin-left: auto;
	margin-right: auto;
}

.card[data-anim="playcard"] { animation-name: playcard; }

.card[data-pos="deck"] {transform: translate(0vw, -10vh) rotateX(-0deg);}
.card[data-pos="discard"] {transform: translate(45vw, -10vh) rotateX(-0deg);}
.card[data-pos="offscreen"] {transform: translate(-45vw, 100vh) rotateY(90deg) rotateZ(359deg);}
.card[data-pos="none"] {transform: translate(-10vw, -10vh) rotateX(-0deg);}

.card[data-face="none"]     {background-image: url('/img/0_none.png');}
.card[data-face="back"]     {background-image: url('/img/0_back.png');}
.card[data-face="guard"]    {background-image: url('/img/1_guard.png');}
.card[data-face="priest"]   {background-image: url('/img/2_priest.png');}
.card[data-face="baron"]    {background-image: url('/img/3_baron.png');}
.card[data-face="handmaid"] {background-image: url('/img/4_handmaid.png');}
.card[data-face="prince"]   {background-image: url('/img/5_prince.png');}
.card[data-face="king"]     {background-image: url('/img/6_king.png');}
.card[data-face="countess"] {background-image: url('/img/7_countess.png');}
.card[data-face="princess"] {background-image: url('/img/8_princess.png');}

.banner-box{
	position: fixed;
	top: 30vh;
	left: 50vw;
	z-index: 12;
	width: 50vw;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline;
	padding-right: 4px;
}
button {
	font-size: 2vh;
	background: rgb(210, 211, 211);
	border: none;
	height: auto;
	width: 25vw;
	height: 4vh;
}
.players {
	width: 30vw;
	transform: translate(0vh, 4vw) rotateX(-0deg);
	z-index: 10;
}

.player {
	font-size: 4vh;
	height: 10vh;
	width: 44vw;
	display: block;
	background: #ddd;
	margin: 2vh 0 0;
	padding: 2vh;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 0 8px 8px 0;
	opacity: 0.9;
}

.player[data-player-state="nostate"] {
	background: gray;
	color: #444;
}
.player[data-player-state="connected"] {
	background: #ddd;
}
.player[data-player-state="outofround"] {
	background: #999;
	color: #444;
}
.player[data-player-state="isturn"] {
	border-right: 3vw solid;
	border-color: #b34f36;
    background-color: #b8c7de;
}

.crown {
	background-image: url("/img/crown.svg");
    background-size: 8vw 6vw;
    background-repeat: no-repeat;
    float: left;
    width: 8vw;
    height: 8vh;
}

.debug {
	position: absolute;
	bottom: 13vh;
}
.debug-button {
	font-size: 2vh;
	width: 33vw;
	display: inline-block;	
	margin:1px 0px 0px 1px;
}

@keyframes playcard {
	100% {transform: translate(-10vw, -10vh) rotateY(0deg) rotateZ(0deg);}
}
